<div class="container-l p-4">
    <h1 class="display-1">About</h1>
    <h3 class="display-6 ">A brief description of the asignment</h3>
    <p class="lead">In this evaluation, you will be asked to create a simple web application using Ruby on Rails. The application will be a simple Twitter clone, with name</p>
</div>
